pipeline/Lookup Activity.json
{
	"name": "Lookup Activity",
	"properties": {
		"activities": [
			{
				"name": "Lookup Activity",
				"description": "This activity retrive data from any DB.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LookupDb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Age",
				"description": "retrieve a specefic column from DB",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Age",
					"value": {
						"value": "@activity('Lookup Activity').output.firstRow.Age",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Age": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Activities"
		},
		"annotations": []
	}
}