pipeline/Lookup Activity.json
{
	"name": "Lookup Activity",
	"properties": {
		"activities": [
			{
				"name": "Lookup Activity",
				"description": "This activity retrive data from any DB.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LookupDb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Age",
				"description": "retrieve a specefic column from DB",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Age",
					"value": {
						"value": "@activity('Lookup Activity').output.firstRow.Age",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition",
				"description": "To check true condition, If Age is <30, then true part  will run",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Age",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(\n    activity('Lookup Activity').output.Age,\n    33\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data of specefic item",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "emp_id",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "emp_id",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "first_name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "first_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "last_name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "last_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "birthdate",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "birthdate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "gender",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "gender",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "race",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "race",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "department",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "department",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "jobtitle",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "jobtitle",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "location",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "location",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "hire_date",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "hire_date",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "termdate",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "termdate",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "location_city",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "location_city",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "location_state",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "location_state",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Age",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "Age",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LookupDb",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_DataSet_Azure_Sql",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Age": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Activities"
		},
		"annotations": []
	}
}