pipeline/MetaData Filter  and Foreach Activity.json
{
	"name": "MetaData Filter  and Foreach Activity",
	"properties": {
		"activities": [
			{
				"name": "Getinf sales and customer info",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Get_Metadata_info",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Customer",
				"description": "Filter customer files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Getinf sales and customer info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getinf sales and customer info').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, 'customer')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sales",
				"description": "Files sales files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Getinf sales and customer info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getinf sales and customer info').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'Sales')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach customer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Customer').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Sales",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Sales').output",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Activities"
		},
		"annotations": []
	}
}