pipeline/Stored Procedure Activity.json
{
	"name": "Stored Procedure Activity",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Sales_IndiaData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Get Metadata').output.exists)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "PipelineFailDetails"
							},
							"linkedServiceName": {
								"referenceName": "dynamic_linked_azureSql",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "srija-uat.database.windows.net",
									"UserId": "srija-uat",
									"Password": "Iamgood@21",
									"DatabaseName": "Hr"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Activities"
		},
		"annotations": []
	}
}